.card_container{
  width: 600px;
  margin: auto;
  height: 525px;
  :global(Paragraph){
    margin:40px;
  }
}
.card_container1{
  width: 600px;
  margin: auto;
  margin-top: 30px;
  height: 300px;
  :global(Paragraph){
    margin:40px;
  }
}
.profile{
margin-left: 38%;
margin-bottom: 20px;
:global(.ant-upload.ant-upload-select-picture-card){
  width: 130px;
height: 130px;
  border-radius: 50%;
  margin-right: 0px;
}
}