.home_container{
  padding: 8px;
}
.title{
  font-size: 50px;
  font-family: system-ui;
  text-align: center;
}

.site_card_border_less_wrapper {
  padding: 30px;
  background: #ececec;
}

.schema_card {
  display :flex;
  justify-content:space-between;
  align-items: center;
}

.button{
  margin: 5px 5px 0 5px;
  border: none;
  border-radius: 15px;
}

.card_container{
flex: calc(34% - 16px);
flex-grow: 0;
display: none;
}
.card{
display: flex;
flex-direction: column;
max-height: fit-content;
padding: 4px;
margin: 16px;
background-color: #fff;
border-radius: 8px;

&_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 15px;
  font-weight: bold;
  border-top: 1px solid #f0f0f0;
}

&_colorGray{
  color: #999;
}

&_fields{
  font-size: 0.9em;
}

&_heading{
  margin-bottom: -5px;
}

&_body{
  padding: 4px 6px;
  height: 200px;
  overflow: scroll;
  cursor: pointer;
  
}

&_para{
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

button{
  background-color: rgb(125,76,205);
  color: #fff;
  border:none;
  padding: 4px 20px;
  border-radius: 15px;
}

&_action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 15px;
  border-top: 1px solid #f0f0f0;
}
}

.tableIcon{
font-size: 1.4rem;
color: #999;
}
.card_button{
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
    &:focus{
      outline: none;
      box-shadow: none;
    }
}

.list{
  padding: 0; 
  & li {
  list-style: none;
  color: black;

    & a{
      color: black;
    }
  }
}

.primary_heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 5px;
  border-radius: 4px;
}

.container{
  display: flex;
}

.admin_card_wrapper{
  margin: 8px 8px;
  flex: calc(50% - 16px);
  flex-grow: inherit;
  cursor: pointer;
  background-color: white;
}
.card_component_container{
  display: flex;
  align-items: center;
  margin: 0 0px auto -8px !important;
  flex-wrap: wrap;
  flex: 60%;
}

.log_container{
  width: auto;
  margin: 8px 8px;
  background-color: white;
  padding: 4px 8px;
  overflow: scroll;
  height: 85vh;
}
.log_box{
  background-color: #eee;
  margin: 4px 0;
  padding: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}