.title{
  font-size: 50px;
  font-family: 'Redressed', cursive;
  text-align: center;
}
.submitButton{
  margin-left: 14px;
}

.error{
    color: red;
}

.actionButton{
  display: flex;
   justify-content: flex-end;
   align-items: flex-end
}