.site_card_border_less_wrapper {
  background: #ececec;
}

.Field_card {
  display :flex;
  justify-content:space-between;
  align-items: center;
}

.button{
  border: none;
}

.Fields {
  display:flex;
}

.Fields > div {
  margin-right: 10px;
}

