.form {
  margin: auto;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :global(input){
    height:40px;
    font-size:15px

  }
}

.form_forgot_password {
  margin: auto;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :global(input){
    height:40px;
    width: 520px;
    font-size:15px
  }
}

.form_item {
  width: 100%;
}

.form_extra_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form_container {
  height: 100vh;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
	background: linear-gradient(to right, #4776e6, #8e54e9);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
  display: flex;
	align-items: center;
	justify-content: center;
}

.overlay_panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	top: 0;
	height: 100%;
}




