.out_container {
  background-color: red;
  display: flex;
  justify-content: spaceAround;
}

.signupForm {
  max-width: 300px;
  height: 520px;
  width: 400px;
  background-color: green;
  // position: absolute;
  // transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  border-left: 1px solid black;
  box-shadow: 0 0 40px rgb(8 7 16 / 60%);
  padding: 50px 35px;
}
.signupFormButton {
  width: 100%;
}