#imageForm{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  margin: 100px auto
}

input#imageInput {
  height: 50px;
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: blue;
  
}
.file-button {
  height: 40px;
  font-size: 18px;
  width: 250px;
  padding: 10px;
  color: white;
  background-color: rgb(120, 84, 153);
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  line-height: 0.5;
}


.button-green
{
    font-family: "Segoe UI","Segoe","Verdana";
    background: #0f9e0a center top no-repeat;
    /* background-image: linear-gradient(rgb(15, 158, 10), rgb(24, 105, 21));  */
    /* background-color: lightgray; */
    overflow: hidden;
    color: white;
    border-radius: 5px;
    width: 250px; 
    height: 40px;
    position: relative; 
    padding: 10px;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    line-height: 1.0
}

.button-green:hover
{
    background: #0a8406 center top no-repeat;
    background-image: linear-gradient(rgb(12, 141, 8), rgb(19, 88, 17));     
}

.file-upload
{
    opacity: 0;
    width: 250px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.input-box{
  width: 250px; 
    height: 40px;
    margin-bottom: 10px;

}
