.container {
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 16px;
}

.back_link {
  color: #333;
  display: inline-flex;
  align-items: center;
}

.header_icon {
  margin-right: 8px;
}

.header_title {
  margin: 0;
}
