.site_card_border_less_wrapper {
    padding: 30px;
    background: #ececec;
  }

.schema_card {
    display :flex;
    justify-content:space-between;
    align-items: center;
}

.button{
    margin: 5px 5px 0 5px;
    border: none;
    border-radius: 15px;
}