.card_container{
  display: flex;
  flex-wrap: wrap;
  // margin: 20px auto;
  // justify-content: space-around;
}
.card_component{padding: 10px 10px;}
.action_searchBar{width: 30em;border-radius: 15px;}
// .ant-page-header-heading-title{font-size: 2rem;height: 2.3rem;}