.card_container{
  display: flex;
  flex-wrap: wrap;
  // margin: 20px auto;
  // justify-content: space-around;
}
.card_component{padding: 10px 10px;}
.action_searchBar{width: 30em;border-radius: 15px;}

.page_dashboard_wrapper{
  padding: 0px;
}