.structureModal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:stretch;
}
.actionButton{
  display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-top: 10px;
}
