.card_component{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  flex-wrap: wrap;
}

.card_title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.card_description{
  margin: 0;
}

.card_image{
  height: 150px;
  width: 260px;
  border-bottom: 1px solid rgb(236, 233, 233);
}

.modal_content{
  color: red;
  font-size: 0.9em;
}