
.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.card-component{
  padding: 10px 10px;
}

.action-searchBar{
  width: 20rem;
  border-radius: 15px;
}

.ant-page-header-heading-title{
  font-size: 2rem;
  height: 2.3rem;
}

.ant-card-bordered {
  border: 3px solid #f0f0f0;
}

.ant-card-cover{
  margin:0 !important;
}

.ant-card.ant-card-bordered {
  border-radius: 12px;
  width: 100%;
  margin: 0;
}

.ant-tabs-nav-wrap{
  width: 100%;
  border-bottom: 1px solid rgb(212, 197, 197) !important;
}

.ant-card-body{
  padding: 6px !important;
}

.card_component_container{
  display: flex;
  align-items: center;
  margin: auto -20px auto -8px;
  flex-wrap: wrap;
}

.card_title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 6px;
}

.card_description{
  margin: 0;
}

.card_action{
  padding: 8px 0 0 0;
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(236, 233, 233);
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-modal-close-x {
  width: 30px;
  line-height: 28px;
}