.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.card-component{
  padding: 10px 10px;
}

.action-searchBar{
  width: 20rem;
  border-radius: 15px;
}
.ant-page-header-heading-title {
  font-size: 2rem;
  height: 2.3rem;
}


