.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.card-component{
  padding: 10px 10px;
}

.action-searchBar{
  width: 20rem;
  border-radius: 15px;
}

.ant-page-header-heading-title{
  font-size: 2rem;
  height: 2.3rem;
}

.ant-card-bordered {
  border: 3px solid #f0f0f0;
}


.ant-card.ant-card-bordered {
  border-radius: 15px;
}
.ant-tabs-nav-list{
  width: 100%;
}
.ant-tabs-tab{
  width: 50%;
}
