.site{
  min-height: 360px;
}
.content{
  overflow: auto;
  height: 100vh;
}

.layout{
  min-height: 100vh;
}
.popover{
  flex-direction: column;
  :global(.ant-popover-inner-content){
  padding: 0px;
  }
  :global(button){
  width: 105px;
  background-color: #EEE;
  border: 0px;
  color: black;
  }
  }
  .foot{
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-color: #002140;
    width: 100%;
    }
    .font{
      font-size: 20px;
    }